**/CMakeFiles/
**/cmake_install.cmake
**/CTestTestfile.cmake
*.swp
*.a
3rdparty/*-prefix
3rdparty/protobuf-2.6.1/autom4te.cache/
3rdparty/protobuf-2.6.1/gtest/
3rdparty/UV-prefix/
a.out
build/
CMakeCache.txt
lib/mumble/ocb_aes_test
lib/mumble/proto/Mumble.pb-c.*
Makefile
src/mumbleweb
Testing/
